$card-bg: rgb(247, 239, 239);
$dodgerblue: dodgerblue;
$light-blue: lightblue;
$orange: rgb(233, 152, 3);
$coral: coral;
$opacitywhite: rgba(241, 231, 231, 0.5);
$lightBlackFont: rgb(8, 26, 39);
$inputBorder: rgb(214, 200, 200);
$darkishgreyFont: rgb(151, 149, 149);
$greyFont: grey;
$lightgreyFont: rgb(224, 214, 214);
$modalBg: rgba(173, 166, 166, 0.9);
$white: white;
$red: red;
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: $lightBlackFont;
}
body{
  min-height: 100vh;
  padding: .8rem;

  svg{
    // vertical-align: middle;
  }
}
@mixin btn($border, $fontColor, $bgColor){
  border: 1px solid $border;
  color: $fontColor;
  font-size: 1.1rem;
  padding: .4rem .7rem;
  cursor: pointer;
  border-radius: .4rem;
  background: $bgColor;
  transition: background .25s, transform .1s;
  height: 40px;

  &:hover{
    color: $bgColor;
    transform: translateY(-3px);
    background: $fontColor;
  }
}
.header{
  
  .header-options{
    margin-top: 1rem;
    display: flex;
    gap: .7rem;
    align-items: center;

    button:first-of-type{
      @include btn($light-blue, $dodgerblue, $white);
    }
    button:last-of-type{
      @include btn($orange, $coral, $white);
    }
    input{
      margin-left: auto;
      font-size: 1.1rem;
      border-radius: .4rem;
      padding: .8rem 1.3rem;
      border: 1px solid $inputBorder;
      color: $lightgreyFont;

      &:focus{
        color: $darkishgreyFont;
        outline: 1px solid $greyFont !important;
      }
    }
  }
}
.card-container{
  display: grid;
  gap: .7rem;
  margin-inline: .7rem;
  margin-top: .6rem;

  .Card{
    display: flex; 
    background: $card-bg; 
    padding: 1.1rem;
    border-radius: 1rem;
    gap: .6rem;
    flex-wrap: wrap;
    justify-content: space-around;

    &:hover{
      outline: 1px solid rgb(180, 166, 166);
    }

    .options{
      
      input{
        -webkit-appearance: none;
        appearance: none;
        margin: 0;
        border: 1px solid $lightBlackFont;
        width: 20px;
        height: 20px;
        margin-left: .5rem;
        cursor: pointer;
        position: relative;

        &::before{
          content: "";
          display: block;
          width: .8rem;
          height: .8rem;
          position: absolute;
          top: 3px;
          left: 3px;
        }
        &:checked::before{
          background: $red;
        }
      }
    }
    .info{
      flex: 1;
      display: grid;
      gap: .3rem;
      
      h3:first-of-type{
        font-size: 1.3rem;
      }
      p:first-of-type{
        font-size: 1.1rem;
        font-weight:500;

        span{
          margin-inline: .5rem;
          color: $greyFont;
        }
      }
      p:last-of-type{
        color: $darkishgreyFont;

        span{
          margin-left: .6rem;
          cursor: pointer;

          .modal-click{
            margin-left: .3rem;
            color: $dodgerblue;
            cursor: pointer;
          }
        }
      }
    }
    .boxes{
      display: flex;
      gap: .7rem;

      button{
        @include btn($darkishgreyFont, $darkishgreyFont, $opacitywhite);
        &:hover{
          color: $white;
        }
      }
    }
  }
}
.Modal-bg{
  display: none;
  background: $modalBg;
  min-height: 100vh;
  z-index: 3;
  position: fixed;
  top: 0;
  left: 0;
  place-items: center;

  .Modal{
    z-index: 4;
    background: $white;
    padding: 1.8rem;
    width: clamp(300px, 50%, 500px);
    border-radius: .4rem;
    display: grid;
    gap: .8rem;
    position: relative;

    .closeModal{
      position: absolute;
      right: 1rem;
      top: 1rem;
      margin-left: auto;
      background: $lightgreyFont;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      cursor: pointer;
      display: grid;
      place-items: center;
      
      &:hover{
        background: $inputBorder;
      }
    }

    h2{
      display: flex;
      width: 91.5%;
    }
    h3{
      color: $greyFont;
    }
    .text{
      padding: .4rem;
      padding-bottom: 1.5rem;
      border: 3px dashed $darkishgreyFont;

      p{
        color: $darkishgreyFont;
      }
    }
    .btns{
      display: flex;
      justify-content: center;
      gap: .6rem;

      button:first-of-type{
        @include btn($light-blue, $white, $dodgerblue);
      }
      button:last-of-type{
        @include btn($orange, $white, $coral);
      }
    }
  }
}
.toggleModal{
  display: grid;
}
@media only screen and (max-width: 500px){
  .header{
    .header-options{
      flex-wrap: wrap;
      justify-content: center;

      input{
        margin: 0;
      }
    }
  }

}